.tier-list-item--color {
  border: 1px solid white; }

.tier-pile .tier-list-item--color {
  display: inline-table;
  position: relative;
  top: -1px; }

.tier-pile .tier-list-item--color:not(:first-child) {
  margin-left: -8px; }

.select-ticket-variant__list .eds-text-list-item__button {
  padding: 16px 24px; }

.select-ticket-variant__list .eds-list-item__aside {
  padding-right: 8px; }

.select-ticket-variant__details .tier-pile {
  display: flex;
  align-items: center; }

.select-ticket-variant__details .eds-btn-toggle {
  display: inline-block;
  vertical-align: middle; }

/* ========== Color =========== */
/* ========== Background Colors =========== */
/* ========== Grid =========== */
/* ========== Text =========== */
/* ========== Inputs =========== */
/* ========== Selection Controls =========== */
/* ========== Lists =========== */
/* ========== Elevation =========== */
/* ========== Layout Peaks  =========== */
/* ========== Typography Font Sizes =========== */
/* ========== Typography Line Heights =========== */
/* ========== Typography Letter Spacings =========== */
.tiered-ticket-quantity-select {
  position: absolute;
  top: 0;
  right: 0; }

@media (max-width: 792px) {
  .tiered-ticket-quantity-select {
    top: 0;
    right: 0; } }

.tiered-ticket-display-content-root {
  border-bottom: 1px solid var(--eds-ui-300, #DBDAE3); }

.tiered-ticket-display-content-root:last-child {
  border: none; }

.tiered-ticket-display-content {
  align-items: flex-start;
  padding: 0; }

.tiered-ticket-display-content--disabled {
  opacity: 0.65;
  pointer-events: none; }

.single-tier-content .eds-list-item__extra-content {
  padding-right: 8px; }

.tiered-ticket-onsale-status__label {
  white-space: nowrap; }

/* ========== Color =========== */
/* ========== Background Colors =========== */
/* ========== Grid =========== */
/* ========== Text =========== */
/* ========== Inputs =========== */
/* ========== Selection Controls =========== */
/* ========== Lists =========== */
/* ========== Elevation =========== */
/* ========== Layout Peaks  =========== */
/* ========== Typography Font Sizes =========== */
/* ========== Typography Line Heights =========== */
/* ========== Typography Letter Spacings =========== */
/* ========== Responsive breakpoints UP ^^^^ =========== */
/* ========== Responsive breakpoints DOWN vvvv =========== */
/* ========== Responsive breakpoints ORIENTATION =========== */
.venue-map-thumbnail__container {
  position: relative;
  overflow: hidden;
  background-color: #eeeeee;
  padding-top: 66.7%; }
  @media (min-width: 480px) {
    .venue-map-thumbnail__container {
      padding-top: 40%; } }
  .venue-map-thumbnail__container--square {
    padding-top: 100%; }
  .venue-map-thumbnail__container--wide {
    padding-top: 66.7%; }
  .venue-map-thumbnail__container--x-wide {
    padding-top: 40%; }

.venue-map-thumbnail__image-wrapper {
  display: block;
  max-width: 66.7%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }
  @media (min-width: 480px) {
    .venue-map-thumbnail__image-wrapper {
      max-width: 40%; } }
  .venue-map-thumbnail__image-wrapper--square {
    max-width: 100%; }
  .venue-map-thumbnail__image-wrapper--wide {
    max-width: 66.7%; }
  .venue-map-thumbnail__image-wrapper--x-wide {
    max-width: 40%; }

.venue-map-thumbnail__image {
  display: block;
  height: 100%; }

.venue-map-thumbnail__seat-pin {
  position: absolute;
  transform: translate3d(-50%, -100%, 0);
  line-height: 0; }

.venue-map-thumbnail__seat-pin--hide {
  opacity: 0; }

.reserved-ticket-selection__buy-on-map-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  .reserved-ticket-selection__buy-on-map-content svg path {
    stroke: #39364f; }

.reserved-tickets-selection__thumbnail {
  background: #eeeeee; }

.reserved-ticket-selection__promocode .eds-field-styled,
.reserved-ticket-selection__promocode .responsive-form {
  margin-bottom: 0; }

.best-available-error__pick-on-map {
  display: inline-block; }
  .best-available-error__pick-on-map:hover {
    cursor: pointer; }


/*# sourceMappingURL=25.31eda59d8a1af8f2c617.css.map*/